* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 16px;
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main-container {
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 90%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.search-input {
  color: rgb(73, 73, 73);
  border-radius: 15px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 0 5px 10px 0 rgba(51, 51, 51, 0.172);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 75%;
}

.search-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

input {
  font-size: 20px;
}

.search-label {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 10px 0 rgba(8, 17, 146, 0.303);
  background-color: rgb(107, 136, 214);
  padding: 10px;
  border-radius: 15px;
  width: 75%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 36px;
  letter-spacing: 1px;
  gap: 5px;
}

.modifiers-container {
  display: flex;
  justify-content: center;
}

.modifier {
  font-size: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.modifier-input {
  width: 80%;
}

.fix {
  position: absolute;
  top: 0%;
  left: 15%;
  transform: translate(0, -100%);
}

.tables-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.table-head {
  border-top-left-radius: 15px;
  background-color: rgb(64, 112, 214);
  color: rgb(242, 242, 242);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
th {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
th:first-child {
  background-color: rgb(17, 50, 184);
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
  padding-right: 25px;
}
td {
  padding: 5px;
}
.all-table {
  box-shadow: 0 5px 20px 0 rgba(51, 51, 51, 0.275);
  border-radius: 10px;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.results-table {
}

.results-table:nth-child(odd) {
  background-color: rgb(233, 240, 245);
}

.results-table:nth-child(even) {
  background-color: rgb(198, 216, 228);
}

.results-table:hover {
  color: blue;
  text-shadow: 0px 0px 10px rgba(44, 80, 121, 0.274);
}

.NDC {
  width: 17%;
  font-weight: bold;
}

.btn {
  background-color: rgb(17, 17, 161);
  font-size: 18px;
  color: rgb(218, 213, 213);
  padding: 10px;
  border-radius: 10px;
}
.btn:hover {
  background-color: rgb(58, 58, 209);
  cursor: pointer;
}
.btn:active {
  background-color: rgb(115, 115, 228);
}
